<link rel="stylesheet" href={{url_for('static', filename='nav.css')}}>
<div class="topNav">
    <img src={{url_for('static', filename='logo.png')}} class="icon" width="auto" height="50vh">
</div>
<body style="font-family: Montserrat">
<div class="bodyContent" style="text-align: center">
    <br>
    <h1 style="margin-top: 12%;">Bzz Hive: Your Digital Note-Taking Solution</h1>
    <a href={{ url_for('register') }} ><button style="background-color: #f5b942; color: white; padding: 15px 40px; border-radius: 2px; border: none; cursor: pointer; font-family: Montserrat">Sign up for free</button></a><br><br>
    <a href={{ url_for('signin') }} style="color: black;">Already have an account? Login</a>
    <br><br><br>
    <h2>Perfect for brainstorming, school notes, and sharing</h2>
            <!--img src={{ url_for('static',filename='homepage_images/preview.png')}} width=500vw height=auto style="border-radius: 5px; text-align: center;"-->
            
    
    </table>
</div>
</body>